
ul
  list-style-position: inside;

li
  list-style-type: circle;

.nav
  &-brand
    font-family: "Roboto Condensed"
    font-weight: 400

.float-left
  align-content: left;
  disply: block;
  padding: 0 10px 0 0;

.float-right
  align-content: right;
  disply: block;
  padding: 0 10px 0 0;


.picture
  position: relative
  padding: 10px
  max-width: 50vw;
  picture
    margin-top: 4rem
    filter: drop-shadow(2px 2px 10px rgba(0, 255,255,0.4));
  figcaption 
    text-align: left
    font-style: italic 
    font-size: 0.7rem
  p 
    margin-top: 2rem 
